<h1>お題グループ一覧</h1>

<%= link_to "作ったお題を見る", theme_words_path %>
<%= link_to "グループを削除する" %>
<%= link_to "クリエイト10問早打ちへ", games_creates_path %>
<%= link_to "グループ新規作成" %>

<!--後で書き換える-->
<%= link_to "グループ名を変更する", root_path %>