<h1>モード一覧</h1>
<%= link_to "50音ランダム早打ち", games_syllabaries_path %>
<%= link_to "偉人の名言のを打て", games_greats_men_path %>
<%= link_to "スタンダード10問", games_standards_path %>
<%= link_to "スタンダードFO", games_fade_outs_path %>
<%= link_to "クリエイト10問", games_creates_path %>
<%= link_to "お題を自作する", theme_groups_path %>

<!--あとでプレイヤーのshowにする-->
<%= link_to "マイページに戻る", root_path %>