<div id="top">
<div class="page-header">
  <h1>お問い合わせ</h1>
</div>

<%= form_with model: @inquiry, url: inquiry_thanks_path, local: true do |f| %>

     <p class="inquiry">名前</p>

        <%= f.hidden_field :name %>
        <%= @inquiry.name %>



     <p class="inquiry">メールアドレス</p>

        <%= f.hidden_field :email %>
        <%= @inquiry.email %>



     <p class="inquiry">お問い合わせ内容</p>

        <%= f.hidden_field :message %>
        <%= simple_format(@inquiry.message) %>



  <%= f.submit '送信', :class => 'btn btn-primary' %>
<% end %>
</div>