<!DOCTYPE html>
<html>
  <head>
    <title>PFTypeGame</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= include_gon %>
  </head>

  <body>
    <%= render 'layouts/header' %>
   <div id="main">
    <%= yield %>
   </div>
  </body>
  <footer>
   <%= link_to "お問い合わせ", inquiry_path %>
  </footer>
</html>
